.numericals{border: none;
border-radius: 100px;
padding-left: 20px;
padding-right: 20px;
padding-bottom:15px;
padding-top: 15px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color: rgb(37, 32, 32);
color: azure;
font-size: larger;
}
.operators{border: none;
border-radius: 100px;
padding-left: 22px;
padding-right: 22px;
padding-bottom:15px;
padding-top: 15px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color: rgb(221, 110, 19);
color: azure;
  font-size: larger;
font-weight: 900;}

.display-show{font-family: Arial, Helvetica, sans-serif;
font-size:xx-large;
font-weight:500;}