body{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

.style-input{font-family: Arial, Helvetica, sans-serif;
padding: 10px;}






.style-date{font-family: Arial, Helvetica, sans-serif;
padding: 8px;}


.add-button{font-family: Arial, Helvetica, sans-serif; 
background-color: green;
color: aliceblue;
border: none;
font-size: medium;
padding-top: 8px;
padding-bottom: 8px;
padding-right: 15px;
padding-left: 15px;

}
.delete-button{font-family: Arial, Helvetica, sans-serif; 
background-color: rgb(128, 0, 0);
color: aliceblue;
border: none;
font-size: medium;
padding-top: 8px;
padding-bottom: 8px;
padding-right: 15px;
padding-left: 15px;

}



.todo-grid,.todo-input-grid{display: grid;
  grid-template-columns:200px 150px 100px ;
column-gap: 10px;
row-gap: 5px;align-items: center;}


.todo-input-grid{margin-bottom: 13px;align-items: stretch;}